<form method="POST" action="/tasks">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <div>
    <label for="task">Task Name</label>
    <input id="task" name="task" type="text" required>
  </div>
  <div>
    <p>
      <button type="submit">create</button>
    </p>
  </div>
</form>

<% flash.each do |msg| %>
  <p><%= msg %></p>
<% end %>